<div>
    <p>You can choose which compendiums the importer uses to look for spells and items. Only checked compendiums will be searched, in the order you define here by dragging and dropping as preferred.</p>
</div>