#sbi-window .window-content > form {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#sbi-main-button {
    width: 97%;
}

#sbi-bottom {
    display: flex;
    gap: 5px;
}

#sbi-import-text {
    align-self: center;
}

#sbi-import-select {
    width: 33%;
    align-self: center;
}

#sbi-import-button {
    width: 33%;
    margin-left: auto;
}

#sbi-input {
    margin-bottom: 5px;
    overflow: auto;
    border: 1px solid gray;
    padding: 4px 8px;
    white-space: pre-wrap;
    flex: 1;
}

#sbi-input:empty:before {
    content: attr(data-placeholder);
    color: gray;
}

#sbi-input span {
    position: relative;
}

#sbi-input span.block-header {
    font-size: smaller;
    font-weight: bold;
    border-top: 1px solid gray;
    margin: 8px 0;
    opacity: 0.5;
    display: block;
}

#sbi-input span.block-header:before {
    content: attr(data-block);
    position: absolute;
    right: 0;
}

#sbi-input span span.matched {
    display: inline;
    text-decoration: underline;
    color: #000099;
}

#sbi-input span span.matched:hover {
    color: #0011ff;
}

#sbi-tooltip {
    visibility: hidden;
    min-width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 6px 8px;
    position: absolute;
}

#sbi-tooltip::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

#sbi-compendium-options-menu {
    .container {
        display: flex;
        & > * {
            flex: 1;
        }
    }
    footer {
        display: flex;
    }
}

#sbi-compendium-options-menu .form-group label:hover {
    cursor: move;
}